/*
    @company:hexun.com;
    @author:TinaGao 
    @date:
*/

* {
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    min-width: 320px;
    font-size: 62.5%;
}
body {
    font-family: 'PingFangSC-Medium', 'microsoft yahei', 'Helvetica';
    word-wrap: break-word;
    word-break: break-all;
}
html, body, #app {
    height: 100%;
}
body, p, form, fieldset, dl, dt, dd, ul, textarea, h1, h2, h3, h4, h5, h6, hr, pre {
    margin: 0;
    padding: 0;
}
article, aside, canvas, details, figcaption, figure, hgroup, summary, footer, header, section, nav, menu, object, time {
    display: block;
}
a {
    outline: 0;
    text-decoration: none;
}
a img, input, a {
    border: 0;
    outline: 0;
}
a, img, button, input, textarea, span {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input, select, button, textarea {
    -webkit-appearance: button;
    -webkit-appearance: none;
    font-size: 100%;
}
img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    height: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
i, em, cite {
    font-style: normal;
}
textarea {
    resize: none;
}
ul li {
    list-style: none;
}
input {
    -webkit-appearance: none;
    /*去除input默认样式*/
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
    -webkit-appearance: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.clear {
    clear: both;
    height: 0;
    font: 0/0 Arial;
    visibility: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}